.nlbLogo {
  width: 200px;
  height: 100px;
}
.logoDiv {
  margin-left: 35px;
}
.sidebarItem {
  padding: 8px;
  font-weight: 400;
  font-size: 15px;
  color: rgb(107, 106, 106);
  margin-left: 15px;
}
.sidebarLogo {
  margin-right: 3px;
  font-size: 20px;
}
.sidebarItem a {
  text-decoration: none;
  color: rgb(107, 106, 106);
}
.sidebarItem:hover {
  text-decoration: none;
  background-color: #590696;
  color: white;
  border-radius: 5px;
}
.sidebarItem a:hover {
  text-decoration: none;
  color: white;
}
